/* Name: Nidhi ben Patel
   Student Number: 9050288  /**/
*/

/* adding root element for font in short hand where i included 6 properties of font property */
html {
    :root {
        font: oblique normal 20px/1 100 tahoma;
        /* this is font shorthand with 6 properties that is font-style,
     font-variant, font-weight, font-size, in-lline and font-family*/
        background-color: lightcyan;
        /* changed the background color lightcyan */
    }
}



/* added some elements in the body max-width, margin, padding, border and backgroung-color*/
body {
    max-width: 1200px;
    /* max witdh using absolute units with px */
    margin: 0 auto;
    /* center content with margin 0 for setting up the margin for all the 4sides*/
    padding: 2rem;
    /* used rem units for padding*/
    border: 0.2rem;
    /*Used rem unit for border*/
    background-color: lavender;
}





main {
    float: left;
    /* kept the float left to position and format the content in the container*/
    width: 68%;
    /* kept the width below 70% to allow the box model padding*/
    padding: 2rem;
    /* kept the space 1.5rem for the content */
}



aside {
    float: left;
    width: 28%;
    /* keeping the width below 30% for spacing purpose*/
    padding: 2rem;
}

footer {
    clear: both;
    /* using clear property to clear the footer*/
}




header {
    font-size: xx-large;
    /* increased the size of the font size larger*/
    background: linear-gradient(to right, #ffffff, #2105bf);
    text-align: center;
    padding: 1.5rem;

}

header h2 {
    font-style: italic;
    font-variant: normal;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #dc143c;
}


footer {
    font-size: small;
    /* decresed the size of the footer font by small*/
    background: linear-gradient(to right, #fffffe, #031e94);
    text-align: center;
}



blockquote {
    font-style: italic;
    background-color: #e5d9f6;
    border-left: 0.4rem #ffffff;
    padding: 1.3rem;
    width: 85%;
    margin: 2rem auto;
    text-align: center;
    box-shadow: 0.4rem 0.6rem #a9a9a9;
}



figure {
    border: 0.3rem solid #0d0701;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: lab(61.55% 19.55 -18.77);
}



figure img {
    display: block;
    border: #a9a9a9;
    border-radius: 1rem;
    margin: 0 auto;
    width: 80%;
}

figcaption {
    font-size: 0.8rem;
    font-variant: small-caps;
    margin: 0 auto;
}