/* Name: Nidhi ben Patel
   Student Number: 9050288  /**/
*/

/* adding root element for font in short hand where i included 6 properties of font property */
html {
    :root {
        font: oblique normal 20px/1 100 tahoma;
        /* this is font shorthand with 6 properties that is font-style,
     font-variant, font-weight, font-size, in-lline and font-family*/
        background-color: lightcyan;
        /* changed the background color lightcyan */
    }
}



/* added some elements in the body max-width, margin, padding, border and backgroung-color*/
body {
    max-width: 1200px;
    /* max witdh using absolute units with px */
    margin: 0 auto;
    /* center content with margin 0 for setting up the margin for all the 4sides*/
    padding: 3rem;
    /* used rem units for padding*/
    border: 0.1rem;
    /*Used rem unit for border*/
    background-color: lavender;
}





main {
    float: left;
    /* kept the float left to position and format the content in the container*/
    width: 68%;
    /* kept the width below 70% to allow the box model padding*/
    padding: 1.5rem;
    /* kept the space 1.5rem for the content */
}



aside {
    float: left;
    width: 25%;
    /* keeping the width below 30% for spacing purpose*/
    padding: 1.5rem;
}

footer {
    clear: both;
    /* using clear property to clear the footer*/
}




header {
    font-size: larger;
    /* increased the size of the font size larger*/
    background: -o-linear-gradient();
    text-align: center;

}


footer {
    font-size: small;
    /* decresed the size of the footer font by small*/
    background: -o-linear-gradient(left to right, yellow to red);
    text-align: center;
}