/* Name: Nidhi ben Patel
   Student Number: 9050288  /**/
*/

/* adding root element for font in short hand where i included 6 properties of font property */
:root {
    font: oblique normal 20px 100 tahoma;

}

/* added some elements in the body max-width, margin, padding, border and backgroung-color*/
body {
    max-width: 1200px;
    /* max witdh using absolute units with px */
    margin: 0 auto;
    /* center content with margin 0 for setting up the margin for all the 4sides*/
    padding: 2rem;
    /* used rem units for padding*/
    border: 0.2rem solid;
    /*Used rem unit for border*/
    background-color: lavender;
}





main {
    float: left;
    /* kept the float left to position and format the content in the container*/
    width: 68%;
    /* kept the width below 70% to allow the box model padding*/
    padding: 2rem;
    /* kept the space 1.5rem for the content */
    box-sizing: border-box;
}



aside {
    float: right;
    width: 28%;
    /* keeping the width below 30% for spacing purpose*/
    padding: 2rem;
    box-sizing: border-box;
}

footer {
    clear: both;
    /* using clear property to clear the footer*/
}




header {
    font-size: xx-large;
    /* increased the size of the font size larger*/
    background: linear-gradient(to right, #ffffff, #2105bf);
    text-align: center;
    padding: 1.5rem;

}

header h2 {
    font-style: italic;
    font-variant: normal;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #dc143c;
}


footer {
    font-size: small;
    /* decresed the size of the footer font by small*/
    background: linear-gradient(to right, #fffffe, #031e94);
    text-align: center;
}



blockquote {
    font-style: italic;
    background-color: #e5d9f6;
    border-left: 0.4rem #ffffff;
    padding: 1.3rem;
    width: 85%;
    margin: 2rem auto;
    text-align: center;
    box-shadow: 0.5rem 0.6rem #a9a9a9;
}



figure {
    border: 0.3rem solid #0d0701;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #a88ab6;
}



figure img {
    display: block;
    border: 0.2rem solid #06000b;
    border-radius: 1rem;
    margin: 1 auto;
    width: 100%;
    height: auto;
    box-shadow: 0.5rem 0.7rem #808080;

}

figcaption {
    font-size: 0.8rem;
    font-variant: small-caps;
    margin: 0 auto;
}


iframe {
    border: 0.1rem;
    display: block;
    margin: 1rem auto;
    width: 50%;
}

section.quote {
    border: 0.3rem solid #e5d9f6;
    box-shadow: 0 0.5rem 2rem lightcoral;
    width: 80%;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: #ac9b80;
    padding: 2rem;
    margin: 2rem auto;
}

link
/* Table */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;

}

th {
    text-align: left;
    font-weight: 600;
    font-variant: small-caps;
    color: maroon;
    background-color: #a88ab6;
}

th,
td {
    padding: 1rem;
    border: 0.2rem solid;
}



.form-label {
    font-variant: small-caps;
    font-weight: 200;
    color: #15011e;
}

.form-control {
    padding: 0.7rem;
    border: 0.2rem solid #a9a9a9;
    border-radius: 0.5rem;
    width: 12rem
}

@media (max-width: 600px) {
    html {
        font-size: medium;
    }

    main {
        float: none;
    }

    aside {
        float: none;
    }
}

iframe {
    width: 80%;
    height: auto;
}